# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
*.d
Main/Debug/Main.eep
*.lss
Main/Debug/Main.srec
*.mk
Main/Debug/Makefile
*.map
Main/Debug/Main.hex
*.elf
*.ini
